{% extends 'base.html.twig' %}

{% block title  %} Welcome Kimshinlan ! {% endblock %}
{% block body %}

    <h1>Cars</h1>
    <ul>
        {% for item in mang %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

    <h1>So phan tu trong mang: {{ mang|length }}</h1>

{% endblock %}